:root {
  --bg: #ffeedc;
  --text: #56423c;
  --accent: #f1734c;
  --border: #ed967c;
  --white: #ffffff;
  --font-s: 14px;
  --font-m: 18px;
  --font-l: 24px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Inter, sans-serif;
  font-size: var(--font-m)
  font-weight: 400;
  line-height: 1.4;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1140px;
}

h1 {
  font-weight: 400;
  margin-bottom: 2em;
  background-color: var(--accent);
  border-radius: 10px;
  color: var(--bg);
  display: inline-block;
  padding: 1em;
}

h2 {
  color: var(--accent);
  font-size: var(--font-m);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 0.5em;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav-logo img {
  width: 200px;
}

#balance {
  text-align: center;
}

#budget-section {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.budget-part {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 1em;
}

.form-container {
  border-bottom: 1px solid var(--border);
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.form-input,
.btn {
  padding: 1em;
  border-radius: 10px;
  font-size: var(--font-s);
}
.form-input {
  border: 1px solid var(--border);
}
.btn {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: var(--bg);
  transition: 0.4s;
}
.btn:hover {
  background-color: var(--bg);
  color: var(--accent);
}
.form-input:focus {
  outline-style: none;
  border: 1px solid var(--accent);
  background-color: var(--light);
}

#income-total-container p,
#expenses-total-container p {
  font-size: var(--font-s);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent);
}

#income-list-container {
  margin-bottom: 2em;
}

/* Class for added income */
.income-list {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
}
.income-list:last-child {
  margin-bottom: 2em;
}
